form{
  width: 80%;
  margin: 0 auto;
  background-color: chocolate;
  border: 1px solid black;
  text-align: center;
  height: 90vh;
}
form > div {
  margin: 10px;
}
form label{
  display: inline-block;
}