form{
  width: 80%;
  margin: 0 auto;
  background-color: chocolate;
  border: 1px solid black;
  text-align: center;
  /* height: 75vh; */
}
form > div {
  margin: 20px 0;
}
form label{
  display: inline-block;
  color: white;
}
form input{
  width: 200px;
  padding: 4px 8px ;
  border-radius: 5px;
  outline: none;
  border: 1px solid;
}
form input[type="color"]{
  width: 50px;
}

.subjects p{
  text-align: left;
  margin-left: 10px;
  margin-bottom: 0px;
}
.subjects ul{
  margin-top: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}